 /* 雷达图组件样式 */
 .h5_component_radar{
    
}
.h5_component_radar canvas{
    position: absolute;
    left: 0;
     top: 0;  /*用canvas做动画，会进行分层，要用到   z-index */
     width: 100%;
     height: 100%;
     /* background-color: #ccc; */
}
.h5_component_radar .text{
    position: absolute;
    font-size: 12px;
    /* transform: scale(.8); */
    transition: all 1s;
}
.h5_component_radar_load .text{
    /* opacity: 1; */
}
.h5_component_radar_leave .text{
    opacity: 0;
}
